*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* .........---ANCLAS SUAVES Y SCROLLBAR---......... */
    scrollbar-width: none;
    scroll-behavior: smooth;

    /* .........---Background---......... */
    --gradient: linear-gradient(60deg,
            rgb(107, 243, 239),
            rgb(102, 160, 254),
            rgb(254, 99, 138),
            rgb(251, 82, 82),
            rgb(252, 223, 76),
            rgb(247, 253, 68),
            rgb(134, 253, 75),
            rgb(70, 246, 137));
}

/* .........---ANIMATIONS---......... */
@keyframes background-moving {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

body {
    background: var(--gradient);
    background-size: 400%;
    animation: background-moving 25s infinite alternate;
}

section {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

input {
    margin: 1rem;
}

#productos {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background: rgba(200, 200, 200, 0.5);
    width: 90%;
    margin-top: 20px;
}

.card {
    display: inline-block;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.card img {
    width: 150px;
}

.carrito__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carrito {
    background: rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    padding: 1rem;
}

#carrito th {
    padding: 1rem;
}

#carrito td {
    padding: 1rem;
}

#carrito img {
    width: 80px;
}

.titulo {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
    font-size: 4rem;
    text-shadow: 1px 1px rgb(0, 0, 0), 2.5px 2.5px rgb(201, 26, 108), 4px 4px rgb(0, 0, 0), 5.5px 5.5px rgb(44, 252, 141), 7px 7px rgb(0, 0, 0), 8.5px 8.5px rgb(252, 215, 44), 10px 10px rgb(0, 0, 0);

}

.color__precio {
    color: greenyellow;
}

.powered {
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
}